<!DOCTYPE html>   
<html>   
  <head>  
    <title> Login Page </title>
    <link rel="stylesheet" href="style.css">          
    </style> 
  </head>    
  <body>    
    <header> Student Login Form </header>
    <form action = "http://127.0.0.1:5000/hapuslogin" method="post">
      <label>Username : </label>   
      <input type="text" placeholder="Enter Username" name="username" required>  
      <label>Password : </label>   
      <input type="password" placeholder="Enter Password" name="password" required>
      <a href="/index.html">Kembali</a>
      <input type="submit" value="Delete Account">
    </form>
    <footer>@UKDW 2023</footer>
  </body>     
</html>  